.title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    &_black {
        color: #393939;
    }
    &_mb44 {
        margin-bottom: 44px;
    }
}